@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=fallback');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
/* Additional styles */
@import 'tailwindcss/utilities';

.text-roboto {
    font-family: 'Roboto', sans-serif;
}

.input-field {
    border: 1px solid #0DFF6E;
}

.contenedor {
    width: 80%;
    height: 95%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F1F1F1;
    border-radius: 10px;
    border: 1px solid #989898;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    /* Añade el estilo para ocultar el contenido que se desborde */
}

.button-login {
    font-family: 'Roboto', sans-serif;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 0.50rem;
    background: #00B971;
    color: white;
    font-weight: bold;
    outline: none;
    border: none;
    cursor: pointer;
    transition: background-color 0.7s ease;
}

.button-login:focus {
    box-shadow: 0 0 0 2px #388ad1;
}

.button-login:hover {
    background: #0DFF6E;
}

.navigation-buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    padding: 0 1.8%;
}

.navigation-button {
    width: 100px;
    height: 70px;
    font-size: 50px;
    background-color: #F1F1F1;
    border: 1px solid #989898;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    color: #989898;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation-button:hover {
    background-color: #00B971;
    color: #F1F1F1;
}

.navigation-button.left {
    margin-left: 0;
}

.navigation-button.right {
    margin-right: 0;
}


.button-cuestionary {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    margin-top: 1rem;
    margin-bottom: 0.2rem;
    padding: 0.5rem;
    border-radius: 0.50rem;
    background: #CCCCCC;
    color: #949494;
    outline: none;
    border: none;
    cursor: pointer;
    transition: background-color 0.7s ease;
}

.button-cuestionary:focus {
    box-shadow: 0 0 0 2px #388ad1;
}

.button-cuestionary:hover {
    background: #00B971;
    color: #ffffff;
}

.text-area {
    width: 100%;
    height: 10rem;
    border-radius: 0.50rem;
    border: 1px solid #ABAFB1;
    outline: none;
    padding: 0.5rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

.button-cuestionary.selected {
    background: #00B971;
    color: #ffffff;
}

.question-transition-enter {
    opacity: 0;
}

.question-transition-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}

.question-transition-exit {
    opacity: 1;
}

.question-transition-exit-active {
    opacity: 0;
    transition: opacity 300ms ease-out;
}

.info-header {
    height: 70px;
    /* Ajusta este valor según tus necesidades */
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* Otros estilos que ya tengas para .icon */
}

.scale-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.scale-option {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #333;
    background-color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0 10px;
}

.scale-option:hover {
    background-color: #EEE;
}

.scale-option.selected {
    background-color: #00B971;
    /* Color cuando está seleccionado */
    color: #FFF;
}