@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-hero-gradient{
  background: linear-gradient(to right, rgba(30, 30, 30, 0.6), rgba(0, 139, 85, 0.6));
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-dark-green-gradient {
  background: linear-gradient(
    144.39deg,
    #6b826c -278.56%,
    #007E4E -78.47%,
    #013923 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}

.container {
  position: relative;
  /* el resto de las reglas */
}

.text-container {
  position: absolute;
  top: 10%;
  left: 5%;
  width: 50%;
  padding: 20px; /* Puedes ajustar el padding según lo necesites */
}

.text-container p {
  font-family: 'Roboto', sans-serif;
  font-size: 3.7em; /* Cambia este valor para ajustar el tamaño del texto */
  color: #fff; /* Cambia este valor para ajustar el color del texto */
  font-weight: 600;
}

.text-roboto {
  font-family: 'Roboto', sans-serif;
}

/* Carousel styles */

.carrusel {
  position: relative;
  width: 80%;
  margin: 0 auto;
  margin-top: 3%;
}

.contenedor-imagenes {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  overflow: hidden;
}

.imagen {
  display: none;
  width: 100%;
  height: 100%;
}

.imagen.active {
  display: block;
}

.navegacion {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.puntos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.punto {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: gray;
  margin: 0 5px;
  cursor: pointer;
}

.punto.active {
  background-color: #00B971;
}

.flecha {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: gray;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flecha.izquierda {
  margin-right: 10px;
}

.flecha.derecha {
  margin-left: 10px;
}

/* Collaborators styles  */

.collaborators-container {
  width: 80%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.collaborators-image {
  /* width: 25%;
  height: auto;
  cursor: pointer; */
}
.collaborators-image:hover{
  transform: scale(1.1);
  transition: 0.5s;
}

/* Team members styles  */

.team-members-container {
  margin-top: 4rem;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  
  margin: 0 auto;
}

.team-member {
  flex: 1 0 30%; /* esto hace que inicialmente cada miembro tome un 30% del ancho del contenedor */
  text-align: center;
  margin-bottom: 2rem; /* Agrega un margen inferior */
}

.member-photo {
  width: 100%;
  height: auto;
  max-width: 270px;
  margin: 0 auto;
}

.member-info {
  margin-top: 0.5rem;
}

.member-info h3 {
  font-size: 1.7rem;
  font-weight: bold;
  font-family: 'Roboto';
}

.member-info p {
  font-size: 1.3rem;
  font-family: 'Roboto';
  letter-spacing: 0.05em;
}

@media screen and (max-width: 768px) {
  .team-member {
    flex: 1 0 45%; /* en pantallas medianas, cada miembro toma el 45% del ancho */
  }
}

@media screen and (max-width: 480px) {
  .team-member {
    flex: 1 0 80%; /* en pantallas pequeñas, cada miembro toma el 80% del ancho */
  }
}

/* ContactUs style */

.contactus-container {
  width: 15%;
  margin: 0 auto;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

/* Modal Style */

.modal-container {
  width: 60vw;
  height: 80vh;
}

.green-top-container{
  background: linear-gradient(90deg, #0DFF6E 0%, #00945E 100%);
  height: 9%;
  color: #FFFFFF;
  padding-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-container-text{
  font-size: 1.3rem;
  font-family: 'Roboto';
  position: relative;
  margin-left: 6%;
  margin-bottom: 1%;
}

.hablemos-text{
  font-size: 1.5rem;
  font-family: 'Roboto';
  font-weight: bold;
  position: relative;
  margin-left: 6%;
  margin-top: 4%;
  margin-bottom: 3%;
}

/* Asegúrate de que el contenedor del botón tenga estas propiedades */
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos del botón */
.modal-button {
  background: linear-gradient(90deg, #0DFF6E 0%, #00945E 100%);
  border-radius: 7px;
  border: none;
  color: #FFFFFF;
  font-size: 1.2rem;
  font-family: 'Roboto';
  font-weight: bold;
  width: 55%;
  height: 3rem;
  text-align: center;
  margin-top: 2%;
}

.close-button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  color: white;
  font-size: 1.0rem;
  font-weight: 700;
  line-height: 0.7;
  padding: 0.7rem;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
}

.close-button:hover {
  background-color: rgba(255, 255, 255, 0.6);
}
